In [9]:
import pandas as pd

In [10]:
data = pd.read_excel("Takasbank TEFAS  Tarihsel Veriler.xlsx")
df = pd.DataFrame(data)

In [ ]:
data.drop(columns="Fon Adı", inplace=True)

In [16]:
data.sort_values(by="Kişi Sayısı", ascending=False, inplace=True)
data.groupby(["Fon Kodu", "Kişi Sayısı"]).mean()

                                   Tarih     Fiyat  Tedavüldeki Pay Sayısı  \
Fon Kodu Kişi Sayısı
AAL      5577        2024-09-10 00:00:00  1.576729            1.028637e+09
         5593        2024-08-28 00:00:00  1.549089            9.547286e+08
         5594        2024-09-09 00:00:00  1.574573            1.047024e+09
         5595        2024-08-29 00:00:00  1.551137            9.248035e+08
         5599        2024-09-06 00:00:00  1.568105            9.742792e+08
...                                  ...       ...                     ...
ZBJ      21230       2024-11-08 00:00:00  2.456112            1.437674e+10
         21233       2024-11-21 12:00:00  2.500292            1.411692e+10
         21238       2024-11-17 12:00:00  2.487141            1.419074e+10
         21251       2024-11-18 00:00:00  2.488766            1.420222e+10
         21273       2024-11-19 00:00:00  2.492048            1.444303e+10

                      Fon Toplam Değer
Fon Kodu Kişi Sayısı
AAL      5577             1.621881e+09
         5593             1.478960e+09
         5594             1.648615e+09
         5595             1.434497e+09
         5599             1.527772e+09
...                                ...
ZBJ      21230            3.531087e+10
         21233            3.529631e+10
         21238            3.529529e+10
         21251            3.534600e+10
         21273            3.599270e+10

[3103 rows x 4 columns]

In [18]:
data.to_excel("output.xlsx",index=False)