In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("Takasbank TEFAS  Tarihsel Veriler.xlsx")
df = pd.DataFrame(data)

In [3]:
df.drop(columns="Fon Adı", inplace=True)
df.sort_values(by="Kişi Sayısı", ascending=False, inplace=True)
df["Tarih"] = data["Tarih"].dt.date
df.sort_values(by="Tarih",ascending=False,inplace=True)

In [4]:
df

,Tarih,Fon Kodu,Fiyat,Tedavüldeki Pay Sayısı,Kişi Sayısı,Fon Toplam Değer
3848,2024-11-22,IJV,2.714788,2.162103e+09,2871,5.869651e+09
3836,2024-11-22,GTL,0.065937,1.280337e+12,240101,8.442151e+10
3855,2024-11-22,NRG,2.680189,2.200884e+09,5860,5.898785e+09
3876,2024-11-22,VK6,2.028325,2.116896e+10,140829,4.293753e+10
3857,2024-11-22,OYL,0.080159,3.491058e+10,8854,2.798407e+09
...,...,...,...,...,...,...
14,2024-08-23,FPI,1.162478,1.128885e+07,104,1.312304e+07
57,2024-08-23,ZBJ,2.215840,1.286531e+10,20385,2.850746e+10
56,2024-08-23,YVD,1.931047,1.367736e+10,30077,2.641162e+10
28,2024-08-23,IGL,252.321864,3.493849e+06,10670,8.815745e+08
41,2024-08-23,PPN,2.439571,6.225603e+09,17410,1.518780e+10

In [6]:
data_groupby = df.groupby(["Tarih", "Fon Kodu"]).mean()
data_groupby.sort_values(by="Tarih", ascending=True, inplace=True)
data_groupby.reset_index(inplace=True)
data_groupby

,Tarih,Fon Kodu,Fiyat,Tedavüldeki Pay Sayısı,Kişi Sayısı,Fon Toplam Değer
0,2024-08-23,AAL,1.538828,9.387421e+08,5642.0,1.444562e+09
1,2024-08-23,IOP,2.707798,2.628503e+09,8533.0,7.117456e+09
2,2024-08-23,IRY,1.704338,1.486048e+09,3343.0,2.532728e+09
3,2024-08-23,IUZ,2.065349,3.310474e+08,515.0,6.837284e+08
4,2024-08-23,KIE,2.011065,4.078579e+08,1266.0,8.202290e+08
...,...,...,...,...,...,...
3875,2024-11-22,HVT,2.201681,5.136407e+08,1132.0,1.130873e+09
3876,2024-11-22,HYV,3.046305,3.390651e+09,11903.0,1.032896e+10
3877,2024-11-22,ICE,62.799047,2.933793e+07,6852.0,1.842394e+09
3878,2024-11-22,FIL,0.180645,8.331513e+10,21361.0,1.505044e+10
3879,2024-11-22,ZBJ,2.501948,1.405132e+10,21233.0,3.515567e+10

In [ ]:
#data_groupby.to_excel("output_groupby.xlsx",index=False)

In [ ]:
#data.to_excel("output.xlsx",index=False)